.posts {
  max-width: 720px;
  margin: 0 auto;

  button {
    border: none;
    background: transparent;
    font-weight: 600;
    font-size: 1.125rem;
    color: var(--hightlight);
    margin-top: 1rem;
  }

  .post {
    display: block;
    
    h1 {
      color: var(--heading);
      font-weight: bold;
      font-size: 1.75rem;
      line-height: 2rem;
  
      margin-bottom: .5rem;
    }
  
    span {
      color: var(--body);
      font-size: 1.125rem;
      line-height: 1.375rem;
  
      ;
    }
  
    div.footer {
      color: var(--info);
      font-size: 0.875rem;
  
      display: flex;
      align-items: center;
  
      margin-top: 1.5rem;
      margin-bottom: 3.125rem;
  
      time {
        display: flex;
        align-items: center;
        margin-right: 1.5rem;
      }
  
      svg {
        display: flex;
        align-items: center;
  
        margin-right: .5rem;
      }
    }
  }
}