.banner {
  width: 100%;
  height: 25rem;
  object-fit: cover;

  margin-bottom: 5rem;
}

.post {
  max-width: 720px;
  margin: 0 auto;

  .header {
    h1 {
      font-size: 3rem;
      color: var(--heading);

      margin-bottom: 1.5rem;
    }
  }

  .postInfo {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    color: var(--info);


    div {
      display: flex;
      align-items: center;

      svg {
        display: flex;
        align-items: center;

        margin-right: .5rem;
      }
    }
  }

  .postEdit {
    color: var(--info);
    font-style: italic;

    margin-top: 1.125rem;
  }

  .postContent {
    text-align: justify;

    

    h2 {
      color: var(--heading);
      font-size: 2rem;

      margin: 4rem 0;
    }

    p {
      color: var(--body);
      font-size: 1.125rem;
      line-height: 1.5rem;

      margin: 1.5rem 0;
    }

    div:nth-last-child(n) {
      margin-bottom: 3.75rem;
    }
  }
}

.otherPosts {
  max-width: 720px;
  margin: 0 auto;

  border-top: 1px solid var(--body);

  display: flex;
  justify-content: space-between;

  &.nextPost {
    justify-content: flex-end;
  }

  div {
    p {
      color: var(--heading);
      font-size: 1.125rem;
      margin-bottom: 0.5rem;
      padding-top: 3rem;
    }
  
    a {
      color: #FF57B2;
      font-weight: 600;
      font-size: 1rem;
    }
  }
}


.commentsContainer {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  margin-top: 5rem;
}